body, html{height:100%; width:100%}
*{margin:0;padding:0}

body{
    position: absolute;
    background-image: url("../images/3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.window{
    display: block;
    inset: 0px;
    width: 300px;
    height: 250px;
    margin: 10% auto;
    background-color: beige;
    border-radius: 30px;
}

.window hr{
    border: 3px solid black;
    margin:10px 0;
}

.window h3{
    text-align: center;
}

#activate {
    display:block;
    font-size:20px;    
    /* top:10%; */
    padding:5px 20px;
    position:relative;
    margin:auto;
}

table{
    margin: 0 auto;    
}
