body, html{height:100%; width:100%}
*{margin:0;padding:0}

body{
    position: absolute;
    background-image: url("../images/3.jpg");
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
    background-repeat:no-repeat;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

.window{
    display: block;
    inset: 0px;
    width: 300px;
    height: 250px;
    margin: 10% auto;
    background-color: beige;
    border-radius: 30px;
}

.window hr{
    border: 3px solid black;
    margin:10px 0;
}

.window h3{
    text-align: center;
}

.window .user-icon, .window .password-icon{
    width:20px;
    height:20px;
    margin:5px;
}

.user-item, .password-item{
    display: inline-block;
    margin-left:10px;
    /* padding-bottom: 10px; */
}
    

.user-item input, .password-item input{
    width:200px;
    position: relative;
    bottom:10px;
}

.showPassword{
    position: relative;
    display: inline-block;
    width:35px;
    height:35px;
    font-size: 8px;
    bottom:10px;
}

.showPassword input{
    margin-left:10px;
}

#nameError, #passError{
    position:relative;
    bottom:10px;
    font-size:10px;
    color: red;
    margin-left:40px;
    visibility: hidden;
}

#submit {
    display:block;
    font-size:20px;    
    top:10%;
    padding:5px 20px;
    position:relative;
    margin:auto;
}

.footer{
    position: relative;
    font-size:10px;
    text-align: center;
    top:8px;
}

.forgetPass{
    margin-left:30px;
}
