body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}
a{color:inherit;text-decoration: none;}
a:visited{color:inherit}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
    z-index: 5;
}

#head{
    display:flex;
    width:100%;    
}

/* .bg{
    position: fixed;
    width:100%;
    height:100px;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 0;
} */

#headCont{
    width:100%;
    min-width: 1500px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 1;
}

.Title{
    width: 280px;
    height: 100px;
}

.Title img{
    float:left;
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
    float:left;
}

.navBar{
    width: 300px;
    height: 100px;    
}

.courseTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.timeTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}
.courseTable:hover, .timeTable:hover{
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.userInfo{
    width: fit-content;
    height: 100px;
    font-size: 20px;
}

#userName{
    /* display: inline-block; */
    float:left;
    margin-top: 32px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userIcon{
    float:left;
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

.notification{
    /* float:left; */
    position: relative;
    width:40px;
    height:40px;
    margin-top:28px;
    margin-right:20px;
}

.notification:hover{
    margin-top:26px;
    margin-right: 18px;
    width:43px;
    height:43px;
}

.notification:active{
    margin-top:30px;
    margin-right:22px;
    width:38px;
    height:38px;
}

#notification-sidebar{
    display: none;
    position: absolute;
    right:10px;
    height: 80%;
    min-height: 600px;    
    width: 300px;
    background-color: rgb(188, 212, 254);
    border-radius: 10px;
    z-index: 99;
}

.notification-contents{
    position: inherit;
    width: 280px;
    height: 96%;
    top:1%;
    margin:10px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
}

.noti-header{text-align: right;margin-right: 5px;}
.noti-header span{font-size: 12px;}
.noti-header span:hover{text-decoration: underline;cursor: pointer;}
.noti-header span:active{font-size: 11px;}

#noti li{
    font-size: 15px;
    border:1px solid black;
    height: 50px;
    width: 278px;
}

#noti li:active{
    height:46px;
    width:276px;
    margin:2px;
    font-size: 14px;
}

.tab-buttons{
    display:flex;
    justify-content: center;
}

#content{
    height:80%;
    width:1500px;
    min-width:1500px;
    margin:0 auto;
    margin-top:120px;
}

.courses{
    margin:10px auto;
}

td, th{
    border: 1px solid rgb(122, 77, 19);
    padding:2px 10px;
    background-color: antiquewhite;
}

.num{
    text-align: center;
}

@keyframes shake{
    0%, 100% {transform: translateX(0);}
    10%, 30%, 50%, 70%, 90% {transform: translateX(5px);}
    20%, 40%, 60%, 80% {transform: translateX(-5px);}
}

.shake-animation{
    animation: shake 0.5s ease-in-out;
    border-color: red !important;
}

#dltReason{
    display: none;
    position: fixed;
    top:0;left:0;
    width:100%;height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:9999;
}

.reasonWindow{
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%,-50%);
    width:220px;
    height:180px;
    border-radius: 8px;
    padding:10px 5px;
    background-color: rgb(206, 206, 206);
}

.dltCourse{
    border-radius: 20%;
    background-color:red;
    width:20px;
    height:20px;
}

.closeDltPop{
    position: absolute;
    right:5px; 
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

.class{height:45px;}
.reasonOption{height: 80px;}
.submitDlt{height:50px;}

#reason{width: 150px;}

#reasonInput{    
    display: none;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    width: 150px;    
    margin: 10px 30px;
}

#submitDltClass{  
    display: block;  
    width: 100px;
    margin:0 auto;
}

#coursePop{
    display: none;
    position: fixed;
    top:0;left:0;
    width:100%;height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:9999;
}

.addWindow{
    position: absolute;
    width:300px;
    height:350px;
    background-color: rgb(206, 206, 206);
    top:50%;left:50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 5px 5px;
    text-align: center;
}

.addWindow label{display:block;padding:8px 5px;text-align: left;}
#submitAdd{font-size: 20px;padding:5px;margin-top: 10px;}

.closeAddPop{
    position: absolute;
    right:5px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

tfoot td{
    background-color: transparent;
    border: 0px;    
}

tfoot button{
    width:100px;
    height:20px;
    border-radius: 50px;
}

#showStdPop{
    display: none;
    position: fixed;
    top:0;left:0;
    width:100%;height:100%;
    background-color: rgba(0,0,0,0.4);
    z-index:9999;    
}

.stdWindow{
    position: absolute;
    width:800px;
    height:400px;
    background-color: rgb(206, 206, 206);
    top:50%;left:50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 5px 5px;
    text-align: center;
}

.tableWindow{
    width:760px;
    height:320px;
    background-color: aliceblue;
    margin:5px auto;
    overflow: auto;
}

.stdWindow td, .stdWindow th{
    background-color: transparent;
    border: 1px solid black;
}

.studentInfo{
    margin:0 auto;
}

.closeStdPop{
    position: absolute;
    right:5px;
    background-color: transparent;
    width: 20px;
    height: 20px;
    border-radius: 8px;
}

.removeStd{
    border-radius: 20%;
    background-color:red;
    width:20px;
    height:20px;
}
