body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}
a{color:inherit;text-decoration: none;}
a:visited{color:inherit}

html, body{
    height: 100%;
    width: 100%;
    min-width: 1500px;
}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
}

#head{
    display:flex;
    width:100%;    
}

#headCont{
    width:100%;
    min-width: 1500px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 1;
}

.Title{
    width: 280px;
    height: 100px;
}

.Title img{
    float:left;
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
    float:left;
}

.navBar{
    width: 300px;
    height: 100px;    
}

.classTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.courseSelect{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.classTable:hover, .courseSelect:hover{
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.userInfo{
    width: 250px;
    height: 100px;
    font-size: 20px;
}

#userName{
    margin-top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo img{
    float:left;
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

.tab-buttons{
    display:flex;
    justify-content: center;
}

#content{
    width:1500px;
    min-width:1500px;
    margin:20px auto;
    padding-bottom:20px;
}

.tableContainer{
    height:650px;
    max-width: 1325px;
    overflow: auto;
    margin:10px auto;
}

.searchBar{    
    width:fit-content;
    margin:0 auto;
}

td, th{
    border: 1px solid rgb(122, 77, 19);
    padding:2px 10px;
    background-color: antiquewhite;
}

#tfoot{display: none;}

#tfoot td{
    background-color: transparent;
    width:0;height:0;
    border:0;
    font-size: 20px;
    color:aliceblue;
    padding:5px;
}

#pageNum{
    display: inline-block;
    padding: 0px 10px;
}

#start, #end{margin:0px 10px;}

#backward:hover, #forward:hover, #start:hover, #end:hover{cursor: pointer;}
#backward:active, #forward:active, #start:active, #end:active{
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
};

.num{
    text-align: center;
}

#CTpopUp{
    display: none;
    position: fixed;
    top:0;left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    z-index: 9999;
}

.chooseTeacher{
    position: absolute;
    top:50%;left:50%;
    transform: translate(-50%, -50%);    
    width:800px;
    /* height:500px; */
    border-radius: 8px;
    padding:10px 5px;
    background-color: rgb(206, 206, 206);
}

.chooseTeacher h2{
    text-align: center;
    margin-top:5px;margin-bottom:5px;
}

tfoot td{
    background-color: transparent;
    border:0px;    
}

tfoot button{
    width:100px;
    height:20px;
    border-radius: 50px;
}