body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}
a{color:inherit;text-decoration: none;}
a:visited{color:inherit}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
}

#head{
    display:flex;
    width:100%;    
}

/* .bg{
    position: fixed;
    width:100%;
    height:100px;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 0;
} */

#headCont{
    width:100%;
    min-width: 1500px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 1;
}

.Title{
    width: 280px;
    height: 100px;
}

.Title img{
    float:left;
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
    float:left;
}

.navBar{
    width: 300px;
    height: 100px;    
}

.classTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.courseSelect{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.classTable:hover, .courseSelect:hover{
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.userInfo{
    width: 250px;
    height: 100px;
    font-size: 20px;
}

#userName{
    margin-top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo img{
    float:left;
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

.tab-buttons{
    display:flex;
    justify-content: center;
}

#content{
    width:1500px;
    margin:20px auto;
    height:fit-content;
    padding-bottom: 20px;
}

.schedule{border-collapse: collapse;margin: 10px auto;}

.schedule th{
    background-color: rgb(110, 143, 244);
    border: 2px solid black;
    width:80px;
    height:50px;
    text-align: center;
}
.schedule td{
    background-color: blanchedalmond;
    border: 2px solid black;
    width:200px;
    height:100px;
    text-align: center;
    font-size: 12px;
}
.week th{
    border:0;
    border-top-left-radius: 8px;border-top-right-radius: 8px;
    background-color: rgba(250, 235, 215, 0.6);
}

.diag{
    position: relative;
    background: linear-gradient(
        to bottom left, transparent 49%,
        black 50%, transparent 51%
    );
}

.diag .day{
    position:absolute;
    top:5px;
    right:5px;
    font-size: 14px;
}

.diag .time{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size: 14px;
}

#tfoot td{
    background-color: transparent;
    width:0;height:0;
    border:0;
    font-size: 20px;
    color:aliceblue;
}

#pageNum{
    display: inline-block;
    padding: 0px 10px;
}

#backward:hover, #forward:hover{cursor: pointer;}
#backward:active, #forward:active{
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
};

#chooseClass{
    
}
