body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}
a{color:inherit;text-decoration: none;}
a:visited{color:inherit}

html, body{
    height: 100%;
    width: 100%;
    min-width: 1500px;
}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
}

#head{
    display:flex;
    width:100%;    
}

/* .bg{
    position: fixed;
    width:100%;
    height:100px;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 0;
} */

#headCont{
    width:100%;
    min-width: 1500px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 1;
}

.Title{
    display:flex;
    width: 280px;
    height: 100px;
    justify-content: left;
}

.Title img{
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
}

.navBar{
    display: flex;
    width: 300px;
    height: 100px;    
    justify-content: left;
}

.classTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.courseSelect{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}


.classTable:hover, .courseSelect:hover{
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.userInfo{
    display: flex;
    width: 250px;
    height: 100px;
    font-size: 20px;
    justify-content: left;
}

#userName{
    margin-top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo img{
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

.options{
    font-size: 40px;
    border-radius: 20%;
    border:0px;
    width:45px;
    height:45px;
    background-color: transparent;
    margin: auto auto;
}

.options:hover{
    font-size:42px;
    background-color: #1871cf;
}

.dropdown{
    position: absolute;
    right:50px;
    top:80px;
    background-color: rgb(94, 155, 221);
    border:1px solid black;
    border-radius: 15%;
    width: fit-content;
    height: fit-content;
    text-align: center;
}

.menu li{
    margin: 10px 15px;
}

.close{
    display: none;
}

.tab-buttons{
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.tab-buttons button.active{
    background-color: #007BFF;
    color: white;
}

.button{
    padding:2px 10px;
    border-radius: 10px;
}

.table-container{
    width:1500px;    
    margin:10px auto;
}

.num{
    width:40px;
}

td,th{
    border: 1px solid rgb(122, 77, 19);
    padding:2px 10px;
    background-color: antiquewhite;
}

table{width:100%;}

.hidden{
    display: none;
}

.button:hover{
    background-color: #8dc1f8;
}

.dltBtn{
    border-radius: 20%;
    background-color:red;
    width:20px;
    height:20px;
}

.submitEdit{
    border-radius: 20%;
    background-color: limegreen;
    width: 20px;
    height: 20px;
}

.submitAdd{
    border-radius: 20%;
    background-color: limegreen;
    width: 20px;
    height: 20px;
}

tfoot td{
    background-color: transparent;
    border:0px;    
}

tfoot button{
    width:100px;
    height:20px;
    border-radius: 50px;
}
