body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}
a{color:inherit;text-decoration: none;}
a:visited{color:inherit}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
}

#head{
    display:flex;
    width:100%;    
}

#headCont{
    width:100%;
    min-width: 1500px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 1;
}

.Title{
    display:flex;
    width: 280px;
    height: 100px;
    justify-content: left;
}

.Title img{
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
}

.navBar{
    display: flex;
    width: 450px;
    height: 100px;    
    justify-content: left;
}

.courses{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;    
}

.users{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.requests{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;    
}

.courses:hover, .users:hover, .requests:hover{
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.userInfo{
    display: flex;
    width: 250px;
    height: 100px;
    font-size: 20px;
    justify-content: left;
}

#userName{
    margin-top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo img{
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

#content{
    width:1500px;
    min-width:1500px;
    margin:20px auto;
    padding-bottom:20px;
}

.searchBar{    
    width:fit-content;
    margin:0 auto;
}

.courseInfo{
    margin:10px auto;
}

.num{text-align: center;}

.dltCourse{
    border-radius: 20%;
    background-color:red;
    width:20px;
    height:20px;
}

td, th{
    border: 1px solid rgb(122, 77, 19);
    padding:2px 10px;
    background-color: antiquewhite;
}

.tableContainer{
    width:1270px;
    height:606px;
    margin:10px auto;
}

#naviFoot{
    color:bisque;
    text-decoration: double;
    display: none;
    width:1000px;
    margin: 0 auto;
    text-align: center;
}

#pageNum{
    /* display: inline-block; */
    padding: 0px 10px;
}

#start, #end{margin:0px 10px;}

#backward:hover, #forward:hover, #start:hover, #end:hover{cursor: pointer;}
#backward:active, #forward:active, #start:active, #end:active{
    font-size: 18px;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.15);
};
