body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}
a{color:inherit;text-decoration: none;}
a:visited{color:inherit}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
    z-index: 5;
}

#head{
    display:flex;
    width:100%;    
}

/* .bg{
    position: fixed;
    width:100%;
    height:100px;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 0;
} */

#headCont{
    width:100%;
    min-width: 1500px;
    height: 100px;
    margin:0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 1;
}

.Title{
    width: 280px;
    height: 100px;
}

.Title img{
    float:left;
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
    float:left;
}

.navBar{
    width: 300px;
    height: 100px;    
}

.timeTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.courseTable{
    float:left;
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}
.courseTable:hover, .timeTable:hover{
    font-size: 22px;
    background-color: rgba(125, 182, 248, 0.5);
    border-radius: 20%;
}

.userInfo{
    width: fit-content;
    height: 100px;
    font-size: 20px;
}

#userName{
    /* display: inline-block; */
    float:left;
    margin-top: 32px;
    min-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userIcon{
    float:left;
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

.notification{
    /* float:left; */
    position: relative;
    width:40px;
    height:40px;
    margin-top:28px;
    margin-right:20px;
}

.notification:hover{
    margin-top:26px;
    margin-right: 18px;
    width:43px;
    height:43px;
}

.notification:active{
    margin-top:30px;
    margin-right:22px;
    width:38px;
    height:38px;
}

#notification-sidebar{
    display: none;
    position: absolute;
    right:10px;
    height: 80%;
    min-height: 600px;    
    width: 300px;
    background-color: rgb(188, 212, 254);
    border-radius: 10px;
    z-index: 99;
}

.notification-contents{
    position: inherit;
    width: 280px;
    height: 96%;
    top:1%;
    margin:10px;
    background-color: white;
    border-radius: 10px;
    overflow: auto;
}

.noti-header{text-align: right;margin-right: 5px;}
.noti-header span{font-size: 12px;}
.noti-header span:hover{text-decoration: underline;cursor: pointer;}
.noti-header span:active{font-size: 11px;}

#noti li{
    font-size: 15px;
    border:1px solid black;
    height: 50px;
    width: 278px;
}

#noti li:active{
    height:46px;
    width:276px;
    margin:2px;
    font-size: 14px;
}


.tab-buttons{
    display:flex;
    justify-content: center;
}

#content{
    height:80%;
    width:1500px;
    min-width:1500px;
    margin:0 auto;
    margin-top:120px;
}

.schedule{border-collapse: collapse;margin: 10px auto;}

.schedule th{
    background-color: rgb(110, 143, 244);
    border: 2px solid black;
    width:80px;
    height:50px;
    text-align: center;
}

.schedule td{
    background-color: blanchedalmond;
    border: 2px solid black;
    width:200px;
    height:100px;
    text-align: center;
    font-size: 18px;
}

.week th{
    border:0;
    border-top-left-radius: 8px;border-top-right-radius: 8px;
    background-color: rgba(250, 235, 215, 0.6);
}

.diag{
    position: relative;
    background: linear-gradient(
        to bottom left, transparent 49%,
        black 50%, transparent 51%
    );
}

.diag .day{
    position:absolute;
    top:5px;
    right:5px;
    font-size: 14px;
}

.diag .time{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size: 14px;
}
