body, html{height:100%; width:100%}
*{margin:0;padding:0;list-style: none;}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
}

#head{
    display:flex;
    width:100%;    
}

.bg{
    position: fixed;
    width:100%;
    height:100px;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 0;
}

#headCont{
    flex:1 ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.Title{
    display:flex;
    width: 280px;
    height: 100px;
    justify-content: left;
}

.Title img{
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
}

.navBar{
    display: flex;
    width: 300px;
    height: 100px;    
    justify-content: left;
}

.classTable{
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.courseSelect{
    width:150px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.userInfo{
    display: flex;
    width: 250px;
    height: 100px;
    font-size: 20px;
    justify-content: left;
}

#userName{
    margin-top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo img{
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

.tab-buttons{
    display:flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.tab-buttons button.active{
    background-color: #007BFF;
    color: white;
}

.button{
    padding:2px 10px;
    border-radius: 10px;
}

.table-container{
    width:1500px;    
    margin:10px auto;
}

.num{
    width:40px;
}

td,th{
    border: 1px solid #ccc;
    padding:2px 10px;
}

table{
    width:100%;
    background-color: antiquewhite;
}

.hidden{
    display: none;
}

.button:hover{
    background-color: #8dc1f8;
}

.dltBtn{
    border-radius: 20%;
    background-color:red;
    width:20px;
    height:20px;
}
