/* body, html{height:100%; width:100%} */
*{margin:0;padding:0;list-style: none;}

body {
    background:url("../images/1.jpg") no-repeat center center;
    background-attachment: fixed;
    background-size: cover;    
    margin: 0;
    padding: 0;
    overflow: auto;
}

#head{
    display: flex;
    width: 100%;
}

.bg{
    position: fixed;
    width:100%;
    height:100px;
    background: linear-gradient(rgba(48, 48, 154, 0.8), rgba(127, 183, 243, 0.8));
    z-index: 0;
}

#headCont{
    flex:1 ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index:1;
}

.Title{
    width: 280px;
    height: 100px;
}

.Title img{
    float:left;
    margin: 15px 10px 10px 10px;
    width:60px;
    height:60px;
}

.Title h1{
    margin-top:20px;
    float:left;
}

.navBar{
    width: 300px;
    height: 100px;    
}

.classTable{
    float:left;
    width:100px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}
.courseSelect{
    float:left;
    width:100px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.main{
    float:left;
    width:100px;
    height:100px;
    text-align: center;
    line-height: 100px;
    font-size: 20px;
}

.userInfo{
    width: 250px;
    height: 100px;
    font-size: 20px;
}

#userName{
    margin-top: 32px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.userInfo img{
    float:left;
    width:40px;
    height:40px;
    margin-top: 30px;
    margin-right: 5px;
}

#content{
    width:800px;
    height:200px;
    background-color: aliceblue;
}
