*{margin:0;padding: 0;}
body, html{height:100%}

body{
    background-color: blanchedalmond;
}

#a{
    height:400px;
    width:400px;
    background-color: gray;
    margin:10% auto;
}

p{
    color: aliceblue;
}

form {
    margin:auto;
    width:300px;
    height:200px;
    background-color: burlywood;
    border-radius: 5%;
}
form button{
    display: block;
    margin:20px auto;
}
